/*
 *
 *
 */

 #banniere
 {
 	width: 100%;

 }
 
 
 /*ajouter par Diop index*/
 
 
 .container
{
	float: left;
	width: 80%;
	margin-left: 10%;
	background-color: white;
}

#contenu h1{
	padding-left: 38px;
	margin:0;
}




section{
	width: 97%;
	float: left;
	padding-left: 3%;
	text-align: justify;
	margin-bottom: 3%;
}
section p{
	font-family: Source;
}

section #text {
	float: left;
	width: 67%;
	font-size: 22px;
	background-color: #f3f3f3;
	padding: 14px;
	padding-bottom: 50px;
}
#text img{
	float: left;
	width: 29%;
	margin-right: 18px;
	margin-top: 6px;
	box-shadow: 1px 1px 1px;
}

section aside {
	width: 22%;
	float: right;
	margin-right: 3%;
	padding: 15px;
	background-color: #f3f3f3;
	font-size: 1.1em;
}
#saumon{
	width: 96%;
	margin-top: 9px;
	border: 4px solid gray;
}
#omega{
	width: 102%;
	margin-top: 10px;
	border: 4px solid gray;
}

article aside{
	width: 22%;
	float: right;
	margin-right: 3%;
	margin-top: 3%;
	padding: 10px;
	background-color: #f3f3f3;
	height: 325px;
}
article #mon_article {
	width: 20%;
	float: left;
	padding: 10px;
	background-color: #f3f3f3;
	height: 322px;
	margin-left: 3%;
}
article #mon_article2 {
	width: 24%;
	float: right;
	padding: 10px;
	background-color: #f3f3f3;
	height: 322px;
	margin-right: -2%;
}


article #mon_article2 p{
	padding-top: 6%;
	padding-left: 3px;
}
#mon_article h2,#mon_article2 h2{
	background-color: gray;
	padding:2px;
	color: white;
	border-top: 4px solid orange;
	border-left: 4px solid orange;
	font-size: 1.2em;
	
}
article h2:nth-of-type(1){
	padding-left: 2%;
	padding-bottom: 2px;
	background-color: gray;
	color: white;
	border-top: 4px solid orange;
	border-left: 4px solid orange;
	margin-bottom: 2%;
	width: 100%;
}
#text h3{
	padding-left: 2%;
	padding-bottom: 2px;
	background-color: gray;
	color: white;
	border-top: 4px solid orange;
	border-left: 4px solid orange;
	margin-bottom: 2%;
	
}
#mon_article p{
	margin-top: 8%;
}
#recettes {
	width: 46%;
	float: left;
	background-color: #f3f3f3;
	height: 345px;
	padding-left: 2%;
}
#recettes h3{
	margin-bottom: 2%;
	padding-left: 2%;
}
#recettes img{
	width:100%;
}
#recettes p{
	padding-left: 2%;
	padding-bottom: 2%;
}
#recettes ul{
	list-style:none;
	margin-left: 2%;
}
#recettes ul li{
	float:left;
	font-size: 16px;
}
#recettes ul li a{
	text-decoration:none;
	color:#aaa;
	float:left;
	
	
}
#recettes ul li a:hover{
	color:black;
	
	
}
#recettes ul li:first-child{
	margin-right:34%;
}

aside p{
	margin-top: 8%;
	font-family: Source;
	padding: 8px;
	
}
aside h2{
	background-color: gray;
	padding:2px;
	color: white;
	border-top: 4px solid orange;
	border-left: 4px solid orange;
	font-size: 1.4em;
	
	
}

article {
width: 92%;
float: left;
padding-left: 3%;
text-align: justify;
margin-bottom: 3%;
}


article img{
	width:100%;
}
article p{
	width: 93%;
	/*height: 90px;*/
	text-align: justify;
	font-family: Source;
	/*background-color: white;*/
}