html, body, p, h1, h2, h3, h4, h5, h6, img, ul, li 
{
	margin: 0;
	padding: 0;
	border: 0;
}

@font-face
{
	font-family: Lato;
	src: url("../police/lato/Lato-Reg.ttf");
}

@font-face
{
	font-family: LatoBold;
	src: url("../police/lato/Lato-Bol.ttf");
}

@font-face
{
	font-family: Source;
	src: url("../police/source-sans-pro/SourceSansPro-Regular.otf");
}

@font-face
{
	font-family: Fontello;
	src: url("../police/fontello.ttf");
}



.container
{
	width: 80%;
	margin: auto;
}

/*************************************************
Header
**************************************************/
header
{
	height: 96px;
	border-bottom: 11px solid #4f5059;
}

header img 
{
	height: 96px;
	width: 96px;
}

header ul
{
	margin-top: 38px;
	float: right;
	list-style-type: none;
}

header li 
{
	padding: 4px 24px;
	float: left;
	border-left: 1px solid #a0a0a5;
}

header li:first-of-type
{
	border-left: 0;
}

header li a 
{
	font-size: 20px;
	color: #4f5059;
	font-family: "Source";
	text-decoration: none;
}

/*************************************************
Footer
**************************************************/
footer
{
	background-color: #4f5059;
	height: 71px;
	color: white;
	font-family: "Lato";
	font-size: 14px;
}

#resaux-sociaux
{
	margin-top: 10px;
	float: left;
}

#resaux-sociaux img
{
	margin-top: 3px;
	width: 28px;
	height: 28px;
}

#footer-droite
{
	float: right;
}


footer ul 
{
	list-style-type: none;
	margin-top: 15px;
}

footer li 
{
	float: left;
	padding: 0 10px;
	border-right: 1px solid #cccccf;
}

footer li:last-of-type
{
	border-right: none;
	padding-right: 0;
}

footer li a 
{
	font-family: "LatoBold";
	font-size: 14px;
	color: white;
	text-decoration: none;
}

#footer-droite p 
{
	text-align: right
}