article
{
	width: calc(100% - 20px);
	float: left;
	margin: 10px 10px;
	padding-bottom: 18px;
	border-bottom: 1px solid #72727a;
	box-sizing: border-box;
}

article > img
{
	float: left;
	width: 30%;
}

article > div
{
	margin-left: 15px;
	width: calc(70% - 15px);
	float: left;
}

article h2
{
	font-family: "LatoBold";
	margin-bottom: 5px;
}

article h2 a 
{
	color: #f29057;
	font-size: 40px;
	text-decoration: none;
}

.chroniqueur
{
	font-family: "LatoBold";
	color: #d87d69;
	font-size: 15px;
	margin-bottom: 10px;
}

.chronique-contenu
{
	font-family: "Source";
	color: #4f5059;
	font-size: 14px;
	margin-bottom: 20px;
}

.lire-tout
{
	color: #d97651;
	font-family: "SourceBold";
	text-decoration: none;
	background-color: #E0BB83; /* changer moi */
	padding: 5px 10px;
	border-radius: 5px;
}

nav
{
	float: left;
	width: 100%;
	margin: auto;
	margin-bottom: 10px;
}

nav ul
{
	float: left;
	list-style-type: none;
	width: 100%;
	text-align: center;
}

nav li 
{
	display: inline-block;
}

nav a 
{
	display: block;
	padding: 7px 15px;
	text-decoration: none;
	font-family: "Lato";
	font-size: 22px;
	color: #d87d69;
}

nav li.active a
{
	background-color: #CA942F; /* changer moi */
	color: white;
}

#section-commentaires 
{
	float: left;
	margin: 0 10px;
	width: calc(80% - 20px);
}

#section-commentaires h3
{
	margin-bottom: 10px;
}

#section-commentaires form
{
	margin: auto;
	width: 50%;
}

#section-commentaires input[type=text]
{
	float: left;
	clear: both;
	box-sizing: border-box;
	border: 3px solid salmon; /* changer couleur */
	border-radius: 5px;
	padding: 5px;
}

#section-commentaires input[type=text]:focus
{
	outline: none;
}

#section-commentaires textarea
{
	float: left;
	clear: both;
	width: 100%;
	border: 3px solid salmon; /* changer couleur */
	box-sizing: border-box;
	border-radius: 5px;
	padding: 5px;
}

#section-commentaires textarea:focus
{
	outline: none;
}

#section-commentaires button
{
	float: right;
}

div.commentaire
{
	margin: 10px 0;
	float: left;
	width: 100%;
	background-color: yellow;
}

div.commentaire:first-of-type
{
	margin-bottom: 0;
}