input{
    width: 300px;
    height: 2em;
    margin: auto;

}



/*mise en forme de Amiez-vous ce site*/
.container label{
    color: #D97652;
    font-size: 1.5em;    
}


.container fieldset{
width: 320px;
border: none;
height: 2em;
}

.container fieldset:not(:checked) > input {
    position:absolute;
    top:0px;

    clip:rect(0,0,0,0);
    
}

.container fieldset:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:350%;
    color:#FD6B6B;
    text-shadow:1px 1px #501F1F, 2px 2px #FF6E6E, .1em .1em .2em rgba(107, 79, 79, 0.34);
    padding:0 .07em;
}

.container fieldset:not(:checked) > label:before {
    content: '♥   ';
    padding: 0px;
    margin: 0px;
}

.container fieldset > input:checked ~ label {
    color: #FF000A;
    text-shadow:1px 1px #C00, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
    
}

.container fieldset:not(:checked) > label:hover,
.container fieldset:not(:checked) > label:hover ~ label {
    color: rgb(255, 32, 32);
    text-shadow:1px 1px rgb(241, 21, 21), 2px 2px #FF0000, .1em .1em .2em rgba(253, 0, 0, 0.4);
}

.container fieldset > input:checked + label:hover,
.container fieldset > input:checked + label:hover ~ label,
.container fieldset > input:checked ~ label:hover,
.container fieldset > input:checked ~ label:hover ~ label,
.container fieldset > label:hover ~ input:checked ~ label {
    color: #FF1515;
    text-shadow:1px 1px rgb(109, 1, 1), 2px 2px #700B0B, .1em .1em .2em rgba(0,0,0,.5);
}

.container fieldset > label:active {
    position:relative;
    top:2px;
    left:2px;
}
