.container .champsText{
    padding-bottom: 5em;
}

button{
    width: 20%;
    background-color: #D97652;
    margin-left: 40%;
    margin-bottom: 2em;
    font-size: 3vw;
    color: #3F454E;
    border-radius: 15px;
}
.container h2{
    text-align: center;
    color: #6b7381;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.8vw;
    max-width: 100%;
}

#timbres{
    margin-top: 2em;
    width: 100%;
}

fieldset {
padding: 0;
margin: 0;
width: 80%;
}

.container h3{
    color: #D97652;
    margin-bottom: 40px;
    margin-left: 10%;
    font-size: 2vw;

}

.ensemble{
     margin-left: auto;

}

.champsText{
    width: 50%;
    border-radius:5px;
    float: left;
}


input{
    width: 80%;
    height: 2em;
    text-align: center;
    font-size: 1.1vw;
    border: solid;
    border-color: #D97652;
    border-radius:5px;
    margin-left: 10%;
    
}

.champsText textarea{
    width: 80%;
    height: 10em;
    border: solid;
    border-radius: 5%;
    border-color: #D97652;
    margin-left: 10%;
}


/*mise en forme de Amiez-vous ce site*/
.champsText>label{
    color: #D97652;
    font-size: 2vw; 
    margin-left: 50px;
}

.champsText fieldset{

border: none;
height: 2em;
}

.champsText fieldset:not(:checked) > input {
    position:absolute;
    top:0px;
    clip:rect(0,0,0,0);   
}

.champsText fieldset:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size: 5vw;
    color:#FD6B6B;
    text-shadow:1px 1px #501F1F, 2px 2px #FF6E6E, .1em .1em .2em rgba(107, 79, 79, 0.34);
}

.champsText fieldset:not(:checked) > label:before {
    content: '♥';
    padding: 0px;
    margin: 1px;
}

.champsText fieldset > input:checked ~ label {
    color: #FF000A;
    text-shadow:1px 1px #C00, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
    
}

.champsText fieldset:not(:checked) > label:hover,
.champsText fieldset:not(:checked) > label:hover ~ label {
    color: rgb(255, 32, 32);
    text-shadow:1px 1px rgb(241, 21, 21), 2px 2px #FF0000, .1em .1em .2em rgba(253, 0, 0, 0.4);
}

.champsText fieldset > input:checked + label:hover,
.champsText fieldset > input:checked + label:hover ~ label,
.champsText fieldset > input:checked ~ label:hover,
.champsText fieldset > input:checked ~ label:hover ~ label,
.champsText fieldset > label:hover ~ input:checked ~ label {
    color: #FF1515;
    text-shadow:1px 1px rgb(109, 1, 1), 2px 2px #700B0B, .1em .1em .2em rgba(0,0,0,.5);
}

.champsText fieldset > label:active {
    position:relative;
    top:2px;
    left:2px;
}
